:root {
    --font-color: rgb(88, 88, 88);
    --font-color-hover: tomato;

    --shadow-color: lightgray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--shadow-color);
    box-shadow: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.15);
    padding: 1em;

    text-shadow: 0px 5px 5px var(--shadow-color);
}

.logo{
    font-size: 2em;
    color: tomato;
}

.fa-egg {
    color: var(--font-color);
}

.menu-link{
    color: var(--font-color);
    
    text-decoration: none;
    margin: .5em;
    font-size: 1.1em;
}

.menu-link:hover{
    color: var(--font-color-hover);
}

.main{
    position: relative;
}

.window{
    /*border: 1px solid gray;*/

    position: absolute;
    top: 0px;
    width: 100%;
}

.window-new-game{
    display: flex;
    justify-content: center;
    /*border: 1px solid gray;
    background-image: url(img/test.jpg);*/
}

.window-players{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em;
    transition: .5s;
    text-shadow: 0px 5px 5px var(--shadow-color);

    border: 1px solid var(--shadow-color);
    border-radius: .5em;
    backdrop-filter: blur(32px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px -6px 10px rgba(255, 255, 255, 0.5), 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.players-list{
    list-style: none;
}

.player-item {
    transition: .5s;
    margin: 1em;
}

.player{
    display: flex;
    align-items: center;
    gap: 1em;
    border: 1px solid var(--shadow-color);
    box-shadow: 0px -6px 10px rgba(255, 255, 255, 0.5),
        0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: .5em;
    padding: .5em 1em;

    background-color: white;
}


.player-name-item{
    border: 1px solid var(--shadow-color);
    border-radius: .5em;
    box-shadow: inherit;
    transition: .5s;
}

.player-name{
    margin: 0.7em;
    border: none;
    outline: none;
    transition: .5s;
}

.player-key-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border: 1px solid var(--shadow-color);
    border-radius: .5em;
    background-color: #f2f2f2;
    box-shadow: inherit;
}

.player-key{
    width: 1em;
    border: none;
    outline: none;
    font-size: 1.5em;
    background-color: inherit;
}

.player-ico{
    width: 80px;
    border-radius: 100%;
    box-shadow: inherit;
}
